@use '../z-index';

.Toastify__toast-container {
  @extend .z-toast;
}

.Toastify__toast {
  --at-apply: shadow-md;

  background-color: var(--auricyn-elements-bg-depth-2);
  color: var(--auricyn-elements-textPrimary);
  border: 1px solid var(--auricyn-elements-borderColor);
}

.Toastify__close-button {
  color: var(--auricyn-elements-item-contentDefault);
  opacity: 1;
  transition: none;

  &:hover {
    color: var(--auricyn-elements-item-contentActive);
  }
}
